<div class="stepper">
  <!-- Step headers -->
  <div class="step-headers">
    <div
      *ngFor="let step of applicationSteps; let i = index"
      class="step-header"
      [class.active]="i === applicationStep"
      [class.completed]="i < applicationStep"
      (click)="goToStep(i)"
    >
     <span> {{ i + 1 }}. {{ step }} sfbgd dfbd</span>
    </div>
  </div>

  <!-- Step content -->
  <div class="step-content">
    <div *ngIf="applicationStep ===0">
      <app-basic-info-page></app-basic-info-page>
    </div>
    <div *ngIf="applicationStep ===1">
      <app-personal-info-page></app-personal-info-page>
    </div>
  </div>

</div>

